@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body {
	display: flex;
	justify-content: center;
	margin: 0px;
	height: 100%;
	font-family: 'Ubuntu Condensed', sans-serif;
}

#content {
	align-self: center;
	width: 550px;
}

.bold {
	font-weight:bold;
}

.tab {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
	background-color: yellow;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	background: #C1C1C1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#C1C1C1, #e9eaee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C1C1C1, #e9eaee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C1C1C1, #e9eaee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C1C1C1, #e9eaee); /* Standard syntax */
	
	
	cursor: pointer;
}

.tab.selected {
	background: #e9eaee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FDFDFD, #e9eaee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FDFDFD, #e9eaee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FDFDFD, #e9eaee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FDFDFD, #e9eaee); /* Standard syntax */
	cursor: default;
	font-style: italic;
	
}

#dynamicContainer {
	min-height: 350px;
	
	background-color: #e9eaee;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.button {
	display: inline-block;
	background-color: #B9B9B9;
	padding: 5px;
	cursor: pointer;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 3px 0px 0px #989898;
	-moz-box-shadow: 0px 3px 0px 0px #989898;
	box-shadow: 0px 3px 0px 0px #989898;
}

.button:active {
	background-color: #DADADA;
	
	-webkit-box-shadow: 0px 3px 0px 0px #B9B9B9;
	-moz-box-shadow: 0px 3px 0px 0px #B9B9B9;
	box-shadow: 0px 3px 0px 0px #B9B9B9;

	-ms-transform: scale(0.9,0.9); /* IE 9 */
	-webkit-transform: scale(0.9,0.9); /* Safari */
	transform: scale(0.9,0.9);
}

input[type="user"], input[type="password"], input[type="email"] {
	-webkit-border-radius: 10x;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding: 5px;
	border-width: 1px;
	border-style: solid;
    border-color: #989898;
}

input[type="user"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled {
	background-color: #E8E8E8;
	border-color: #DEDEDE;
}

input.wrongForm {
	border-color: red;
}

input.goodForm {
	border-color: lime;
}

input[type="submit"] {
	border-width: 0px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 16px;
}

#formErrors {
	color: red;
}