After changing your email, your session will be closed automatically.
<form id="changeEmailForm" name="changeEmailForm">
	  <p>New Email<br>
      <input type="email" id="newEmail" name="newEmail" placeholder="New Email" /></p>
	  <p>Confirm New Email<br>
      <input type="email" id="confirmNewEmail" name="confirmNewEmail" placeholder="New Email" /></p>
	  <p>Password<br>
      <input type="password" id="passwordInput" name="password" placeholder="Current Password" /></p>
	  <input type="submit" name="changeEmailButton" value="Change Email" id="changeEmailButton" class="button" />
    </form>
	<div id="formErrors"></div>
	<script>
	$('#changeEmailForm').submit(function(event) {
	var params = $( this ).serializeArray();
		event.preventDefault();
		ChangeEmail(params);
		return false;
	});
	</script>