After changing your password, your session will be closed automatically.<br>
Your new password will not be sent to your email, don't forget it!
<form id="changePassForm" name="changePassForm">
      <p>Current Password<br>
      <input type="password" id="passwordInput" name="password" placeholder="Current Password" /></p>
	  <p>New Password<br>
      <input type="password" id="password2Input" name="newPasswod" placeholder="Confirm Password" /></p>
	  <p>Confirm Password<br>
      <input type="password" id="password3Input" name="confirmNewPass" placeholder="Confirm Password" /></p>
	  <input type="submit" name="changePassButton" value="Register" id="changePassButton" class="button" />
    </form>
	<div id="formErrors"></div>
	<script>
	$('#changePassForm').submit(function(event) {
	var params = $( this ).serializeArray();
		event.preventDefault();
		ChangePassword(params);
		return false;
	});
	</script>