Download the last version of the launcher, that will be used to check for client updates and download them.<br><br>
<form id="downloadclientForm" name="downloadclientForm">
	  <input type="submit" name="downloadclientButton" value="Download WIN32 Client" id="downloadclientButton" class="button" />
    </form>
	<script src="js/jquery.fileDownload.js"></script>
	<script>
	$('#downloadclientForm').submit(function(event) {
		event.preventDefault();
		$.fileDownload('download/GameLauncher.exe')
		.done(function () { alert('File download a success!'); })
		.fail(function () { alert('File download failed!'); });
	});
	</script>