You need to have an account and login to download the game.<br>
<form id="loginForm" name="loginForm">
      <p>Username<br>
      <input type="user" id="usernameInput" name="username" placeholder="Username" /></p>
	  <p>Password<br>
      <input type="password" id="passwordInput" name="password" placeholder="Password" /></p>
	  <input type="submit" name="loginButton" value="Login" id="loginButton" class="button" />
    </form>
	<div id="formErrors"></div>
	<script>
	$('#loginForm').submit(function(event) {
	var params = $( this ).serializeArray();
		event.preventDefault();
		Login(params);
		return false;
	});
	</script>