Your new password will be sent to the email used for registration.
<form id="recoverForm" name="recoverForm">
      <p>Username<br>
      <input type="user" id="usernameInput" name="username" placeholder="Username" /></p>
	  <input type="submit" name="recoverButton" value="Generate new password" id="recoverButton" class="button" />
    </form>
	<div id="formErrors"></div>
	<script>
	$('#recoverForm').submit(function(event) {
	var params = $( this ).serializeArray();
		event.preventDefault();
		RecoverPassword(params);
		return false;
	});
	</script>