You need to have an account and login to download the game.<br>
<form id="registerForm" name="registerForm">
      <p>Username<br>
      <input type="user" id="usernameInput" name="username" placeholder="Username" /></p>
	  <p>Password<br>
      <input type="password" id="passwordInput" name="password" placeholder="Password" /></p>
	  <p>Confirm Password<br>
      <input type="password" id="password2Input" name="confirmPassword" placeholder="Password" /></p>
	  <p>Email<br>
      <input type="email" id="emailInput" name="email" placeholder="example@example.com" /></p>
	  <input type="submit" name="registerButton" value="Register" id="registerButton" class="button" />
    </form>
	<div id="formErrors"></div>
	<script>
	$('#registerForm').submit(function(event) {
	var params = $( this ).serializeArray();
		event.preventDefault();
		SendRegister(params);
		return false;
	});
	</script>